/* 
основиний текст: #757575;
другорядний текст:  #212121;
білий : #FFFFFF;
footer rgba(255, 255, 255, 0.6);  
background: #FFFFFF99;
hero підвал: #2F303A;
1 секція: #F5F5F5
2 секція: #F5F4FA;
акцент: #2196F3
активна кнопка: #188CE8
 */

:root {
  --main-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-color: #ffffff99;
  --bg-color-dark: #2f303a;
  --bg-color-work: #f5f5f5;
  --bg-color-team: #f5f4fa;
}

/* RESET */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  /* outline: red 1px solid; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  width: 100%;
}

/* Logo */
.header-logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;

  color: var(--accent-color);
}
.logo-style {
  color: #000;
}

/* Header */

.page-header .container {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list .item:not(:first-child) {
  margin-left: 50px;
}

.page-header {
  background-color: var(--white-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  cursor: pointer;
}

.header-tel .link {
  color: inherit;
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--bg-color-dark);
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;

  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
}

/* Наша ефективність */
.about {
  padding-bottom: 0;

  background-color: var(--white-color);
}

.about-list {
  display: flex;
}

.about-list .item {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.about-list .item:first-child {
  margin-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--title-text-color);
}

.about-text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Чим ми займаємося */
.work {
  background-color: var(--white-color);
}

.work .list {
  display: flex;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
}

.work-list .item:first-child {
  margin-left: 0;
}

.title-work-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

/* Наша команда */
.team {
  background-color: var(--bg-color-team);
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}

.team-list .item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:first-child {
  margin-left: 0;
}

.team-list .item {
  background-color: var(--white-color);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

/* Підвал */
.footer {
  padding: 60px 0;
  background-color: var(--bg-color-dark);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-color {
  color: var(--white-color);
}

.address {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.mail-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--transparent-color);
}

/* Portfolio */
.project {
  background-color: var(--white-color);
}

/* Кнопки */
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-list .item:not(:first-child) {
  margin-left: 8px;
}

.button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  background-color: var(--bg-color-team);
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Проекти */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-list .item:nth-child(3n) {
  margin-right: 0;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}
